.home,
.user {
  padding: 1rem 0;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
}

.screams-section {
  width: 70%;
}


.loading-text {
  font-size: 2rem;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .home, .user {
    max-width: initial;
    flex-direction: column-reverse;
    padding: 0;
  }
  .screams-section {
    width: initial;
  }
}

@media only screen and (max-width: 782px) {
  .home, .user {
    max-width: initial;
  }
}